*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2
{
    color: rgb(156, 31, 31);
    background:rgba(0, 0, 0, 0.339);
    padding: 2rem;
    margin: 2em;
    border: 1px dashed ;
    outline-style:dashed;
    outline-color: blueviolet;
    outline-width: 2px;
}
/* p
{
    color: rgb(5, 80, 5);
    background-color: rgba(169, 169, 169, 0.74);
    margin: 2em;

}
.opposite
{
    display: inline-block;
    color: black;
    height: 100px;
    background-color: rgba(137, 43, 226, 0.538);
    padding:10px;
    margin: 5px;
    border:2px solid green;
    
} */

ul{
    list-style-type: none;
    background-color: black;
    text-align:right;
    padding-left: 0;
    margin: 0;
}
li
{
    color: azure;
    display: inline-block;
   padding: 5px;
   margin: 5px;

}

li:hover,
li:focus
{
    background-color: rgba(0, 255, 255, 0.13);
    color: rgb(103, 4, 16);
    text-decoration: underline;
    padding: 20px;
    margin: 10px; 

}
